@font-face {
  font-family: gt-super;
  src: url("./assets/fonts/gt-super-400-normal.ttf");
}
@font-face {
    font-family: sohne;
    src: url("./assets/fonts/sohne-400-normal.ttf");
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{

}
.landing-headding {
  font-size: 106px;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 95px;
  color: #242424 !important;
  font-weight: 500;
}
.landing-page-para{
    color: #242424;
    font-size: 22px;
    line-height: 28px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding: 2rem 0;
}

.landing-wrapper{
    background-color: red;
    padding:  7rem;
    background: url("./assets/images/landing-bg.webp") no-repeat right;
    background-size:contain ;
}


/* BLOG PAGE STYLNG STARTS HERE  */

.blog-list{
    display: grid ;
    grid-template-columns: 2fr 1fr;
}